<app-header></app-header>
<button class='toggle-button' onclick="toggleMenu()">&#9776;</button>
<div class="side-menu" id="sideMenu">
  <ul>
    <li>
        <div class="user-card" style="width:200px; background-color:  #059079;">
            <div class="user-image" style="width:150px;">
                <img *ngIf="gender === 'male' || gender === 'Male'" class="card-img-top" [src]="'assets/img/maleuser.png'" alt="Card image" style="width:100%">
                <img *ngIf="gender === 'female' || gender === 'Female'" class="card-img-top" [src]="'assets/img/femaleuser.png'" alt="Card image" style="width:100%">
            </div>
            <div style="margin-left: auto; margin-right: auto;"  class="card-body">
                <h4 style="font-weight: bolder;" class="card-title"><b>{{name}}</b></h4>
            </div>
        </div>
    </li>
    <li>
      <a [routerLink]="['/edituserprofile']"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp; Edit Profile</a>
    </li>
    <li>
      <a [routerLink]="['/doctorlist']"><i class="fa fa-user-md" aria-hidden="true"></i>&nbsp; Doctor List</a>
    </li>
    <li>
      <a [routerLink]="['/checkslots']"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; Check Slots</a>
    </li>
    <li>
      <a [routerLink]="['/bookappointment']"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; New Appointment</a>
    </li>
    <li>
      <a [routerLink]="['/approvalstatus']"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; Approval Status</a>
    </li>
    <li>
      <a [routerLink]="['/prescriptionlist']"><i class="fa fa-prescription" aria-hidden="true"></i>&nbsp; Your Prescription</a>
    </li>
  </ul>
</div>

<div class="dashboard-container">
  <div class="row">
    <div style="color: rgb(5, 28, 102); font-weight: bolder; font-family: 'Open+Sans'; letter-spacing: 1px; font-size: 32px; margin: 0% 0% 1% 9%;"><u><b>Welcome to E-HealthCare Management System User Dashboard</b></u></div>
    <div class="card-dashboard">
        <div class="circular-icon"><i class="icon-center fa fa-user-md"></i></div>
        <div class="card-text">Total Doctors</div>
        <div class="card-subtext" *ngFor="let doctor of doctors | async">{{doctor}} doctors</div>
    </div>
    <div class="card-dashboard" style="background-color: rgb(165, 83, 7);">
        <div class="circular-icon"><i class="icon-center fa fa-user"></i></div>
        <div class="card-text">Total Users</div>
        <div class="card-subtext" *ngFor="let user of users | async">{{user}} users</div>
    </div>
    <div class="card-dashboard" style="background-color: rgb(126, 3, 3);">
        <div class="circular-icon"><i class="icon-center fa fa-procedures"></i></div>
        <div class="card-text">Total Patients</div>
        <div class="card-subtext" *ngFor="let patient of patients | async">{{patient}} patients</div>
    </div>
    <div class="card-dashboard" style="background-color: rgb(70, 3, 44);">
        <div class="circular-icon"><i class="icon-center fa fa-calendar-check"></i></div>
        <div class="card-text">Total Slots</div>
        <div class="card-subtext" *ngFor="let slot of slots | async">{{slot}} slots available</div>
    </div>
  </div>
</div>


<br><br><br><br>
<app-footer></app-footer>
