@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&family=Staatliches&display=swap');

.register{
    background: -webkit-linear-gradient(left, #0e5551, #48c5bf);
    margin-top: 0;
    margin-bottom: 3%;
    border-radius: 15px;
    padding: 3%;
   
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8faf9;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: -1%;
    margin-bottom: 3%;
    margin-right: 34%;
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    border: 1px solid black;
    color: #0a3d3b;
    font-weight: 600;
    font-size: 20px;
    width: 30%;
    cursor: pointer;
}
.loginbtn
{
    float: right;
    margin-top: 10%;
    margin-right: 25%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: transparent;
    color: #ffffff;
    font-weight: bolder;
    width: 50%;
    cursor: pointer;
}
.loginbtn:hover{
    cursor: pointer;
    background: #ffffff;
    color: #0a3d3b;
}
.btnRegister:hover{
    background: #0a3d3b;
    color: #fff;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #11635f;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.highlight1, .highlight2{
    width: 100px;
    color: #fdfdfd;
    background-color: #31e4c6;
    border: 2px solid #0a5f51;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.nav1:hover, .nav2:hover{
    cursor: pointer;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1.5px;
    margin-bottom: -15%;
    font-family: 'Aladin', cursive;
    color: #413613;
}
#home-tab
{
    background-color: none;
}
input{
    margin-bottom: 4%;
    border-radius: 10px;
}


/* //nav// */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.textual
{
    color: rgb(64, 85, 15); 
    text-align: center; 
    margin-top: -20px;
    font-family: 'Aladin', cursive;
    padding: 5px;
    text-transform: uppercase;
}

.loginbtn
{
    background-color: transparent;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 7px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: auto;  
    border: 1px solid black;
    margin-top: 10px;
}
.loginbtn:hover
{
    background-color: rgb(23, 78, 78);
    padding-left: 7%;
    padding-right: 7%;
    cursor: pointer;
    color: white;
}

.top-header h5 {
    font-family: 'Fjalla One', sans-serif;
    margin-right: 19%;
    background: none;
    text-transform: uppercase;
    color: rgb(141, 214, 46);
}

.top-header h5 span {
    font-family: 'Fjalla One', sans-serif;
    background: none;
    color: orange;
}

.navigation label {
    color: #fff;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 25px;
    padding: 5px;
    font-family: 'Skranji', cursive;
}

.navigation label:hover {
    cursor: pointer;
}

.navigation label img {
    height: 50px;
    width: 80px;
}

.notification-bar {
    color: rgb(10, 58, 52);
    font-size: 18px;
    font-style: bold;
    font-family: roboto;
    padding: 10px;
    margin-top: -2%;
    background-color: #b7f0f1;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

li:hover {
    opacity: 0.9;
    background: linear-gradient(to bottom, #00ccff 0%, #3399ff 100%);
}

#btn-active {
    margin-right: 10px;
    background: linear-gradient(to bottom, #ff9933 0%, #ff6600 100%);
    color: #fff;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#btn-active:hover {
    background: linear-gradient(to top, #ff9933 0%, #ff6600 100%);
    transform: scale(1.0) perspective(5px);
    border-radius: 20px;    
    cursor: pointer;
}

#btn-create-account {
    padding: 10px 20px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    cursor: pointer;
    outline: none;
    transition: all 1s ease;
    transform: scale(1);
}

#btn-create-account:hover {
    padding: 6px 15px;
    background: linear-gradient(to bottom, #ff9933 0%, #ff6600 100%);
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
    cursor: pointer;
    outline: none;
    transform: scale(1.0) perspective(5px);
}

#btn-create-account:active {
    transform: translate(10px, 10px);
    -webkit-transform: translate(10px, 10px);
    box-shadow: 0px 1px 0px 0px;
}

#btn-login {
    color: #fff;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    outline: none;
    transition: all 1s ease;
    transform: scale(1);
}

#btn-login:hover {
    padding: 6px 15px;
    background: linear-gradient(to bottom, #ff9933 0%, #ff6600 100%);
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
    cursor: pointer;
    outline: none;
    transform: scale(1.0) perspective(5px);
}

#btn-login:active {
    transform: translate(10px, 10px);
    -webkit-transform: translate(10px, 10px);
    box-shadow: 0px 1px 0px 0px;
}

.section-background {
    padding-top: 25px;
    margin-bottom: 5px;
    background-color: #f0fcfb;
    box-shadow: 1px 1px 18px #888888;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}


.container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
	padding-bottom: 20px;
}

.login-options {
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 60px;
    margin-bottom: 80px;
	margin-left: 90px;


}

.login-options h2 {
    color: #000;
    margin-bottom: 20px;
}

.login-detail {
    height: 310px;
    width: 320px;
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    align-items: center;
    transition: transform .4s;
    background-color: white;
    padding: 10px 20px 5px 20px;
    border-radius: 10px;
    box-shadow: 0.1px 4px 8px 2px rgba(0,0,0,0.2);
}

.login-detail:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

.login-icon {
    border-radius: 50%; 
    background-color: white; 
    padding: 10%;
}

#btn-home, #btn-services, #btn-login, #btn-create-account {
    padding: 10px 20px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    cursor: pointer;
    outline: none;
    transition: all 1s ease;
    transform: scale(1);
}

#btn-home:hover, #btn-services:hover, #btn-login:hover, #btn-create-account:hover {
    padding: 6px 15px;
    background: linear-gradient(to bottom, #ff9933 0%, #ff6600 100%);
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
    cursor: pointer;
    outline: none;
    transform: scale(1.0) perspective(5px);
}

#btn-home:active, #btn-services:active, #btn-login:active, #btn-create-account:active {
    transform: translate(10px, 10px);
    -webkit-transform: translate(10px, 10px);
    box-shadow: 0px 1px 0px 0px;
}

.top-header {
    background-color: #0b3c3f;
    position: relative;
    height: 90px;
    width: 100%;
    margin-top: -20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}
