<!-- 
<footer id="footer" class="bg-light text-center">
    <div class="text-center p-3" style="background-color: #08072e; font-weight: bolder; color: white;">
      © 2021 Copyright:
      <b style="color: white; font-weight: bolder;" class="text-light">Gowthamraj K</b>
      <br><br>
      <section class="mb-4">
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; border: none;" role="button"><i class="fa fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee; border: none;" role="button"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39; border: none;" role="button"><i class="fa fa-google"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; border: none;" role="button"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" role="button"><i class="fa fa-github"></i></a>
      </section>
    </div>  
</footer> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<footer id="hospital-footer" class="text-center text-lg-start bg-dark text-light">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
          <span>Connect with us on social networks:</span>
      </div>
      <div>
          <a href="#" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
          <a href="#" class="me-4 text-reset"><i class="fab fa-google"></i></a>
          <a href="#" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
      </div>
  </section>

  <section class="">
      <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">Hospital Management System</h6>
                  <p>Providing the best healthcare services with professional doctors and advanced facilities.</p>
              </div>

              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">Departments</h6>
                  <p><a href="#" class="text-reset">Cardiology</a></p>
                  <p><a href="#" class="text-reset">Neurology</a></p>
                  <p><a href="#" class="text-reset">Orthopedics</a></p>
                  <p><a href="#" class="text-reset">Pediatrics</a></p>
              </div>

              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">Useful Links</h6>
                  <p><a href="#" class="text-reset">About Us</a></p>
                  <p><a href="#" class="text-reset">Appointments</a></p>
                  <p><a href="#" class="text-reset">Privacy Policy</a></p>
                  <p><a href="#" class="text-reset">Contact</a></p>
              </div>

              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                  <p><i class="fas fa-home me-3"></i> Bhagalpur</p>
                  <p><i class="fas fa-envelope me-3"></i>ankit&#64;gmail.com</p>
                  <p><i class="fas fa-phone me-3"></i> +91 7061256512</p>
                  <p><i class="fas fa-print me-3"></i> +91 7209018691</p>
              </div>
          </div>
      </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.1);">
      &copy; 2024 Hospital Management System | Designed by Ankit Kumar
  </div>
</footer>
